.intro-page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#unity-canvas {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #231F20;
    z-index: -100;
}

#background-intro {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -100;
}



